/* HEADER STYLE CONTENTS HEADER STYLE CONTENTS HEADER STYLE CONTENTS HEADER STYLE CONTENTS HEADER STYLE CONTENTS */
/* HEADER STYLE CONTENTS HEADER STYLE CONTENTS HEADER STYLE CONTENTS HEADER STYLE CONTENTS HEADER STYLE CONTENTS */
/* HEADER STYLE CONTENTS HEADER STYLE CONTENTS HEADER STYLE CONTENTS HEADER STYLE CONTENTS HEADER STYLE CONTENTS */
/* HEADER STYLE CONTENTS HEADER STYLE CONTENTS HEADER STYLE CONTENTS HEADER STYLE CONTENTS HEADER STYLE CONTENTS */
/* HEADER STYLE CONTENTS HEADER STYLE CONTENTS HEADER STYLE CONTENTS HEADER STYLE CONTENTS HEADER STYLE CONTENTS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.headerMainContainer{
    display: flex;
    justify-content: space-between;
    padding: 20px 3%;
    background-color: rgba(255, 255, 255, 0.95); /* Yarı saydam beyaz */
    backdrop-filter: blur(10px); /* Buzlu cam efekti */
}

.headerMenu{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.headerMenuItem{

}

/* HEADER STYLE CONTENTS HEADER STYLE CONTENTS HEADER STYLE CONTENTS HEADER STYLE CONTENTS HEADER STYLE CONTENTS */
/* HEADER STYLE CONTENTS HEADER STYLE CONTENTS HEADER STYLE CONTENTS HEADER STYLE CONTENTS HEADER STYLE CONTENTS */
/* HEADER STYLE CONTENTS HEADER STYLE CONTENTS HEADER STYLE CONTENTS HEADER STYLE CONTENTS HEADER STYLE CONTENTS */
/* HEADER STYLE CONTENTS HEADER STYLE CONTENTS HEADER STYLE CONTENTS HEADER STYLE CONTENTS HEADER STYLE CONTENTS */
/* HEADER STYLE CONTENTS HEADER STYLE CONTENTS HEADER STYLE CONTENTS HEADER STYLE CONTENTS HEADER STYLE CONTENTS */